<script type="text/html" id="tpl-new-book">

    <article>
        <div id="new-book-box">
            <h1><%= Translator.get(title) %></h1>
            <input type="hidden" name="author[_token]" value="<%= csrf_token %>" />

            <p>
                <label for="title"><%= Translator.get('book.title') %>:</label>
                <input type="text" id="title" name="title" value="<%= title %>" required="required" />
            </p>

            <p>
                <label for="language"><%= Translator.get('book.language') %>:</label>
                <select name="language" id="language">
                    <% _.each(languages, function(lang)   { %>
                        <option <% if(language == lang.code) print('selected="selected"') %> value="<%= lang.code %>"><%= lang.name %></option>
                    <% }) %>

                </select>
            </p>

            <p>
                <label for="pageCount"><%= Translator.get('book.pageCount') %>:</label>
                <input type="text" id="title" name="pageCount" value="<%= pageCount %>" />
            </p>

            <p>
                <label for="isRead"><%= Translator.get('book.isRead') %>:</label>
                <input type="checkbox" id="isRead" name="isRead" <% if(isRead) print('checked="checked"')%> value="<%= isRead %>" />
            </p>

            <p>
                <label for="startedReading"><%= Translator.get('book.startedReading') %>:</label>
                <input class="datepicker" type="text" id="startedReading" name="startedReading" value="<%= startedReading %>" />
            </p>

            <p>
                <label for="finishedReading"><%= Translator.get('book.finishedReading') %>:</label>
                <input class="datepicker" type="text" id="finishedReading" name="finishedReading" value="<%= finishedReading %>" />
            </p>

            <p>
                <label for="isbn"><%= Translator.get('book.isbn') %>:</label>
                <input type="text" id="isbn" name="isbn" value="<%= isbn %>"  />
            </p>

            <input type="submit" id="_submit" name="_submit" value="<%= Translator.get('form.save') %>" />
        </div>
    </article>
</script>