<script type="text/html" id="tpl-new-book">

    <article>
        <div id="new-book-box">
            <h1><%= Translator.get(title) %></h1>

            <form>
                <input type="hidden" name="author[_token]" value="<%= csrf_token %>" />

                <p>
                    <label for="title"><%= Translator.get('book.title') %>:</label>
                    <input type="text" id="title" name="title" value="<%= title %>" required="required" />
                </p>

                <p>
                    <div id="languages">
                        <input <% if(language == "fi") print('checked="checked"')%> type="radio" name="language" id="language1" value="fi" /><label for="language1">Finnish</label>
                        <input <% if(language == "se") print('checked="checked"')%> type="radio" name="language" id="language2" value="se" /><label for="language2">Swedish</label>
                        <input <% if(language == "en") print('checked="checked"')%> type="radio" name="language" id="language3" value="en" /><label for="language3">English</label>
                    </div>
                </p>

                <p>
                    <div class="tag_item_selector" data-elementName="book[tags]">
                        <div class="items">
                            <ul id="book_tags"></ul>
                        </div>


                        <div class="item_input">
                            <button name="add-item" class="add-item-btn">Add tag</button>
                            <input class="item_field" type="text" />
                        </div>
                    </div>
                </p>

                <p>
                    <label for="pageCount"><%= Translator.get('book.pageCount') %>:</label>
                    <input type="text" id="title" name="pageCount" value="<%= pageCount %>" />
                </p>

                <p>
                    <label for="isRead"><%= Translator.get('book.isRead') %>:</label>
                    <input type="checkbox" id="isRead" name="isRead" <% if(isRead) print('checked="checked"')%> value="<%= isRead %>" />
                </p>

                <p>
                    <label for="startedReading"><%= Translator.get('book.startedReading') %>:</label>
                    <input class="datepicker" type="text" id="startedReading" name="startedReading" value="<%= startedReading %>" />
                </p>

                <p>
                    <label for="finishedReading"><%= Translator.get('book.finishedReading') %>:</label>
                    <input class="datepicker" type="text" id="finishedReading" name="finishedReading" value="<%= finishedReading %>" />
                </p>

                <p>
                    <label for="isbn"><%= Translator.get('book.isbn') %>:</label>
                    <input type="text" id="isbn" name="isbn" value="<%= isbn %>"  />
                </p>

                <input type="submit" id="_submit" name="_submit" value="<%= Translator.get('form.save') %>" />
            </form>
        </div>
    </article>
</script>