<script type="text/template" id="tpl-list-books">
    <article>

        <h1><%= Translator.get("books") %></h1>

        <div class="author"><h2></h2></div>

        <div class="books"></div>
    </article>
</script>