<script type="text/template" id="tpl-new-author">

    <article>
        <div id="new-author-box">
            <h1><%= Translator.get(title) %></h1>
                <input type="hidden" name="author[_token]" value="<%= csrf_token %>" />

                <p>
                    <label for="firstName"><%= Translator.get('author.firstName') %>:</label>
                    <input type="text" id="firstName" name="author[firstName]" value="<%= firstName %>" required="required" />
                </p>
                <p>
                    <label for="lastName"><%= Translator.get('author.lastName') %>:</label>
                    <input type="text" id="lastName" name="author[lastName]" value="<%= lastName %>" required="required" />
                </p>
                <input type="submit" id="_submit" name="_submit" value="<%= Translator.get('form.save') %>" />
        </div>
    </article>
</script>