<script type="text/html" id="tpl-search">

    <article>
        <h1><%= Translator.get('search') %></h1>
        <form>

            <div>
                <input type="text" id="searchvalue" name="search[searchvalue]" />
            </div>

            <input type="submit" id="_submit" name="_submit" value="<%= Translator.get('form.search') %>" />
        </form>

        <div id="search-results">

            <div id="results-books" class="column"></div>

            <div id="results-authors" class="column"></div>


        </div>

    </article>
</script>