<script type="text/html" id="tpl-search">

    <article>
        <h1><%= Translator.get('search') %></h1>
        <form>

            <div>
                <input type="text" id="searchvalue" name="search[searchvalue]" />
            </div>

            <input type="submit" id="_submit" name="_submit" value="<%= Translator.get('form.search') %>" />
        </form>

    </article>
</script>

<script type="text/html" id="tpl-search-results">

    <article>

        <div id="search-results">

            <% if (books.length == 0 && authors.length == 0) { %>
                <p><%= Translator.get('search.no-results') %></p>

            <% } else { %>
            <div id="results-books" class="column">
                <h2><%= Translator.get('Books')%></h2>
                <ul>
                    <% if(books != null) _.each(books, function(book) { %>
                    <li><a <%= book.isRead ? '' : 'class="is-read" '%> href="<%= Routing.getBaseUrl() + '/#book/' + book.id %>"><%= book.title %></a></li>
                    <% }); %>
                </ul>
            </div>

            <div id="results-authors" class="column">
                <h2><%= Translator.get('Authors')%></h2>
                <ul>
                <% if(authors != null) _.each(authors, function(author) { %>
                    <li><a href="<%= Routing.getBaseUrl() + '/#author/' + author.id %>"><%= author.value %></a> <% if(author.amount > 0) { %><a href="<%= Routing.getBaseUrl() + '/#books/' + author.id%>">(<%= author.amount %>)</a><% } else { print("(0)") } %></li>
                <% }); %>
                </ul>
            </div>

            <% } %>

        </div>

    </article>
</script>

<div id="search-box">


</div>

<div id="search-results-box">


</div>

