<article>
    <h1>About</h1>

    <p>This is a personal virtual bookshelf created for helping me figuring out, whether I own a certain book or not.</p>

    <p>I read and buy quite a lot of books and sometimes it is a bit hard to remember, if I have a certain book already as I might have over 10 books from a certain author.</p>

    <p>Currently the layout is very, very spartan but the app does what it needs to.</p>

    <h2>Why?</h2>

    <p>I could certainly have just produced a simple list of all my books but that's not fun to code, is it. ;)

    <p>I wanted to create a web app that I have use for and that is fun to code and helps me to learn new stuff.
        Technology used</p>

    This web app is built using Symfony2 with Doctrine2 and MySql
</article>